@page "/"
@using BlazorOnlineShopping.CollectionData
@inject ProductInventory ProductInventory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@inject ILocalStorageService localStorage

<h1>Clownprodukter</h1>

<NavLink href="/" class="nav-link">Home</NavLink>
<NavLink href="/cart" class="nav-link">Varukorg</NavLink>

<div style="display: flex; flex-wrap: wrap;">
    @foreach (var product in ProductInventory.Products)
    {
        <ClownCard Product="@product"></ClownCard>
        /*<button @onclick="() => AddToCart(product)">Lägg i varukorg</button>*/
        /*<a href="@product.Route" style="flex: 1 0 50%; max-width: 30%; padding: 10px; border: 2px solid black; margin: 10px; border-radius: 10px;">
        <button @onclick="() => NavigateToProductDetails(product)">
            <h2>@product.Name</h2>
            <p strong>Pris: @product.Price kr</p>
            <img src="@product.ImageUrl" alt="@product.Name" style="width:200px; height:auto;" />
        </button>
        </a>*/
    }
</div>

@code {
        public void NavigateToProductDetails(Product product)
        {
            if (product != null)
            {
                NavigationManager.NavigateTo($"/productdetails/{product.ProductId}");
            }
        }

        public List<Product> products = new List<Product>();

    public async Task AddToCart(Product product)
    {
                
    }
}

